body {
    
    margin: 0;
    background: blue;
    font-family: Arial;
    }
  
    
    header {
        background: white;
        padding-top: 3em;
        padding-bottom: 3em;

    }
    
    header h1 {
        color: black;
    }
    